<p id="notice"><%= notice %></p>

<p>
  <strong>Completed:</strong>
  <%= @encounter.completed %>
</p>

<%= link_to 'Edit', edit_encounter_path(@encounter) %> |
<%= link_to 'Back', encounters_path %>
