.nothing
  background: #aaa
  width: 15px
  height: 15px
.traveled
  background: blue
  width: 15px
  height: 15px
.character
  background: yellow
  width: 15px
  height: 15px
.npc
  background: red
  width: 15px
  height: 15px
.unwalkable
  background: black
  width: 15px
  height: 15px
.current_character
  background: green
  width: 15px
  height: 15px

